<!DOCTYPE html>
<html lang="pr-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PAVI - Funcionários</title>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="/css/fullcalendar.min.css">
    <!-- https://fullcalendar.io/ -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="/css/tooplate.css">
</head>

<body id="reportsPage" class="">
    <div class="" id="home">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-xl navbar-light bg-light">
                        <a class="navbar-brand" href="/gestao">
                            <em class="fas fa-3x fa-briefcase tm-site-icon"></em>
                            <h1 class="tm-site-title mb-0">Gestão PAIV</h1>
                        </a>
                        <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mx-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="/gestao">Gestão
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="/main/funcionarios">Funcionários</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/contas">Contas</a>
                                </li>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Perfil</a>
                                        <a class="dropdown-item" href="#">Faturamento</a>
                                        <a class="dropdown-item" href="#">Customizar</a>
                                    </div>
                                </li>
                            </ul>
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link d-flex" href="/entrar">
                                        <em class="far fa-user mr-2 tm-logout-icon"></em>
                                        <span>Sair</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- row -->
            <div class="row tm-content-row tm-mt-big">
                <div class="col-xl-12 col-lg-12 tm-md-12 tm-sm-12 tm-col">
                    <div class="bg-white tm-block h-100">
                        <div class="row">
                            <div class="col-md-8 col-sm-12">
                                <h2 class="tm-block-title d-inline-block">Funcionários</h2>

                            </div>
                            <div class="col-md-4 col-sm-12 text-right">
                                <a href="/main/novofuncionario" class="btn btn-small btn-primary">Adicionar</a>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover table-striped tm-table-striped-even mt-3">
                                <thead>
                                    <tr class="tm-bg-gray">
                                        <th scope="col">Código</th>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Idade</th>
                                        <th scope="col" class="text-center">Cargo</th>
                                        <th scope="col" class="text-center">Escritório</th>
                                        <th scope="col" class="text-center">Salário(R$)</th>
                                        <th scope="col">&nbsp;</th>
                                        <th scope="col">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="funcionario: ${funcionarios}" class="tm-list-group tm-list-group-alternate-color tm-list-group-pad-big">
                                        <td th:text="${funcionario.codigo}"></td>
                                        <td th:text="${funcionario.nome}"></td>
                                        <td th:text="${funcionario.idade}"></td>
                                        <td th:text="${funcionario.posicao}"></td>
                                        <td class="text-center" th:text="${funcionario.escritorio}"></td>
                                        <td th:text="${funcionario.salario}"></td>
                                        <td>
                                            <a th:href="@{'/main/editarfuncionario?codigo=' + ${funcionario.codigo}}">
                                            <button type="button" class="btn btn-primary">Atualizar</button>
                                            </a>
                                        </td>
                                        <td>
                                            <a  th:href="@{'/main/removerfuncionario?codigo=' + ${funcionario.codigo}}"
                                                onclick="return confirm('Remover? Esta ação é irreversível.')">
                                            <button type="button" class="btn btn-danger">
                                                Remover
                                            </button></a>
                                        </td>
                                    </tr>
 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <footer class="row tm-mt-small">
                <div class="col-12 font-weight-light">
                    <p class="d-inline-block tm-bg-black text-white py-2 px-4">
                        GestãoPAIV &copy; 2020
                    </p>
                </div>
            </footer>
        </div>
    </div>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script>
        $(function () {
            $('.tm-product-name').on('click', function () {
                window.location.href = "/editarfuncionario";
            });
        })
    </script>
</body>

</html>