<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PAIV - Add pessoas</title>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/jquery-ui-datepicker/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/tooplate.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="tm-border navbar navbar-expand-xl navbar-light bg-light">
                    <a class="navbar-brand" href="/gestao">
                        <i class="fas fa-3x fa-briefcase tm-site-icon"></i>
                        <h1 class="tm-site-title mb-0">Gestão PAIV</h1>
                    </a>
                    <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="tm-border nav-link" href="/gestao">Gestão
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            </li>
                            <li class="nav-item">
                                <a class="tm-border nav-link active" href="/main/funcionarios">Funcionários</a>
                            </li>

                            <li class="nav-item">
                                <a class="tm-border nav-link" href="/contas">Contas</a>
                            </li>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Perfil</a>
                                    <a class="dropdown-item" href="#">Faturamento</a>
                                    <a class="dropdown-item" href="#">Customizar</a>
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="tm-border nav-link d-flex" href="/entrar">
                                    <i class="far fa-user mr-2 tm-logout-icon"></i>
                                    <span>Sair</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- row -->
        <div class="row tm-mt-big">
            <div class="col-xl-12 col-lg-10 col-md-12 col-sm-12 ">
                <div class="tm-border tm-bg-white2 tm-block">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h2 class="tm-block-title d-inline-block ">Adicionar funcionario</h2>
                        </div>
                    </div>
                    <div class="row mt-4 tm-edit-product-row">
                        <div class="col-xl-12 col-lg-7 col-md-12">
                            <form th:action="@{/main/cadastrarfuncionario}" th:object="${funcionario}" method="POST" class="tm-edit-product-form">
                                <div class="input-group mb-3">
                                    <label for="nome" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Nome
                                    </label>
                                    <input id="nome" name="nome" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7" required>
                                </div>
                                <div class="input-group mb-3">
                                    <label for="escritorio" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Escritório
                                    </label>
                                    <input id="escritorio" name="escritorio" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7" required>
                                </div>
                                <div class="input-group mb-3">
                                    <label for="posicao" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Posição</label>
                                    <select class="custom-select col-xl-9 col-lg-8 col-md-8 col-sm-7" id="posicao" name="posicao">
                                        <option value="Diretor Executivo / Geral">Diretor Executivo / Geral</option>
                                        <option value="Presidente ou Vice-Presidente">Presidente ou Vice-Presidente</option>
                                        <option value="Diretor de Departamento">Diretor de Departamento</option>
                                        <option value="Gerente ou chefe">Gerente ou chefe</option>
                                        <option value="Supervisor">Supervisor</option>
                                        <option value="Operador">Operador</option>
                                        <option value="Estagiario">Estágiario</option>
                                    </select>
                                </div>
                                <!--
                                <div class="input-group mb-3">
                                    <label for="expire_date" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Data da contratação
                                    </label>
                                    <input id="expire_date" name="expire_date" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7"
                                        data-large-mode="true" required>
                                </div>
                                -->

                                <div class="input-group mb-3">
                                    <label for="idade" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">
                                        Idade
                                    </label>
                                    <input id="idade" name="idade" type="number" min="16" max="100" class="form-control validate col-xl-9 col-lg-8 col-md-7 col-sm-7" required>
                                </div>
                                <div class="input-group mb-3">
                                    <label for="salario" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">
                                        Salario(R$)
                                    </label>
                                    <input id="salario" name="salario" type="number" min="0" class="form-control validate col-xl-9 col-lg-8 col-md-7 col-sm-7" required>
                                </div>
                                <div class="input-group mb-3">
                                    <div class=" text-center ml-auto col-xl-12 col-lg-4 col-md-4 col-sm-5 pl-0">
                                        <button type="submit" class="btn btn-primary">Salvar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        <footer class="row tm-mt-big">
            <div class="text-center col-12 font-weight-light">
                <p class="d-inline-block tm-bg-black text-white py-2 px-4">
                    GestãoPAIV &copy; 2020
                </p>
            </div>
        </footer>
    </div>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/jquery-ui-datepicker/jquery-ui.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('#expire_date').datepicker();
        });
    </script>
</body>

</html>